#navigation-menu{
    height: calc(100vh - 4rem);
}


.navigation-link:hover .navigation-submenu{
    display: block !important;
}

.altura{
    height: 500px;
    width: 100%;
}   
    

  .flexslider .slides img {
    max-height: 500px; /*maximum height for all slides*/
    width: auto; /*proper aspect ratio of images*/
    max-width: 100%; /*maximum width for all slides*/
    margin: 0 auto; /*centering images in the container*/
} 